:root {
  --earth-brown: #5a3e2b;
  --dark-brown: #3a2518;
  --light-beige: #f2e8d5;
  --soft-beige: #e6dbc5;
  --accent-gold: #c7a27c;
}

.footer {
  background: var(--dark-brown);
  color: var(--light-beige);
  padding-top: 3rem;
  font-family: inherit;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 8%;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 230px;
}


.footer-section h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--accent-gold);
  text-transform: uppercase;
}

.footer-section p {
  font-size: .95rem;
  line-height: 1.5rem;
  opacity: .85;
  max-width: 300px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin-top: .5rem;
}

.footer-section ul li {
  margin: .5rem 0;
  cursor: pointer;
  transition: .3s ease;
  opacity: .85;
}

.footer-section ul li:hover {
  color: var(--accent-gold);
  opacity: 1;
}

.footer-section a {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: var(--light-beige);
  transition: .3s ease-in-out;
}

.footer-section a:hover {
  color: var(--accent-gold);
}

.footer-bottom {
  margin-top: 3rem;
  padding: 1rem 0;
  background: var(--dark-brown);
  text-align: center;
  font-size: .9rem;
  opacity: .9;
  letter-spacing: .5px;
}

@media (max-width: 768px) {
  .footer-content {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .footer-section p {
    max-width: 100%;
  }

  .footer-section a {
    margin: 0 .4rem;
  }
}
